# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.log
*.env
*.out

# Folder
/config
/api
bin
dev
log
logs
vendor

# Files
/Makefile
/*.xlsx
/*.sql
/*.yaml
/*.yml

# IDE
.project
.settings
.idea
.DS_Store
.dbeaver
/data/dbeaver/Scripts/migrations
/data/dbeaver/.dbeaver-data-sources.xml
