[DEFAULT]
# Дефолтовое значение которое можно использовать во всех секциях
RootFolder       = C:/Work/sungora


# Главная конфигурация
[MAIN]
# Рабочая папка приложения
WorkDir          = %(RootFolder)s

# Сертификаты SSL
Keys			= %(RootFolder)s/keys

# Путь и имя PID файла. Если файл не указан то PID не создаётся
Pid              = %(RootFolder)s/run/sungora.pid

# Расположение загружаемых бинарных данных
Upload            = %(WorkDir)s/upload

# Временная зона в которой работает приложение в формате (IANA Time Zone database).
# Если временная зона не указана, то используется UTC
TimeZone         = Europe/Moscow

# Используемая ядром БД.
# 0 - БД не используется
# 1 - Используется БД mysql
UseDb       = 1

# Префикс языка по умолчанию
Lang = ru-ru

# Отдавать статику напрямую при ее наличии.
# Если установить false, то сначала будет произведен поиск ури (роутинг) и только при его отсутсвии будет отдана статика.
ResponseStatic = true

# Объем используемой оперативной памяти наличие которой нужно проверить (в мб)
# По умолчанию 100
Memory = 100


# Настройка лог службы
[LOGS]
# Режим отладки приложения. Вывод всех логов в консоль
Debug            = true

# Детализация дебага
# 0 - детализация отключена
# 1 - трейс вызвавшей функции, файла, номера строки в файле
# 2 - трейс всего стека
# (Не реализовано)
DebugDetail      = 0

# Режим логирования сообщений системы (6 по умолчанию)
# Info       = 6 - Сообщения о всех шагах работы системы, от Info до Fatal
# Notice     = 5 - Сообщения о наиболее важных шагах работы системы, от Notice до Fatal
# Warning    = 4 - Сообщения о не важных ошибках системы, от Warning до Fatal
# Error      = 3 - Сообщения об ошибках системы последствия которых важны, но не приводят к деградации функционала системы, от Error до Fatal
# Critical   = 2 - Сообщения о критичных ошибках системы без которых возможно продолжения работы но с урезанным функционалом, от Critical до Fatal
# Fatal      = 1 - Сообщения о фатальных ошибках системы, после фатальной ошибки работа приложения не возможна и немедленно завершается
Level        = 6

# Логирование действий пользователя
Journal	     = true 					  

# Логирование выполняемых запросов к БД
Database	 = true 					  

# Режим записи логов
# file - запись логов только в файл лога, если файл лога не указан то режим переключается на system
# system - запись логов только в системный журнал операционной системы
# mixed - запись логов как в файл так и в системный журнал операционной системы
Mode         = file

# Файл системного журнала приложения, если указан, то используется он,
# если не указан, логи отправляются в журнал операционной системы
File         = %(RootFolder)s/log/sungora.log

# Максимальный размер файла лога до его дефрагметации.
# По умолчанию 5мб
Size         = 5

# Префикс языка для системных логов
Lang = ru-ru

# Разделитель параметров лога. Если указать ".," то разделитель будет ";"
# По умолчанию, если не указан то пробел
Separator = 


# Шаблонизатор и представление.
[VIEW]
# Глобальный путь к папке со статикой
# Пример: %(RootFolder)s/templates
# Значение по умолчанию: %(RootFolder)s/templates
Path        = %(RootFolder)s/templates

# Шаблоны макетов, контроллеров и иных статичных данных работающих на стороне сервера
# Пример: %(RootFolder)s/templates/view
# Значение по умолчанию: %(RootFolder)s/templates/view
Tpl			= %(RootFolder)s/templates/view


# секция настроек отправки почты
[MAIL]
# Строка, которой представляется почтовый клиент
# Пример: Mac OS X Mail 7.0 (1805)
# Значение по умолчанию: Отсутствует
Mailer			=

# Почтовый адрес от которого приложение отправляет все письма
# Пример: no-replay@domain.ru
# Значение по умолчанию: Значение вычисляется по переменным окружения и
# складывается в %USER%@%DOMAIN%, если %DOMAIN% определить не возможно, то используется «localhost»
FromAddress 	= info@sungora.ru

# Имя почтового адреса от которого приложение отправляет все письма
FromName    	= Название проекта

# Режим отправки писем, возможные режимы: sendmail, tcp
# В первых версиях приложения поддерживается только режим tcp
# Пример: tcp
# Значение по умолчанию: tcp
Mode			= tcp

# Путь и параметры запуска программы sendmail для отправки писем.
# В первых версиях приложения параметр не используется
# Пример: /usr/sbin/sendmail –t –oi
# Значение по умолчанию: Результат поиска sendmail по %PATH%, если не найден то значние пустое и отправка посредством sendmail отключена
Sendmail		= /usr/sbin/sendmail –t –oi

# Адрес почтового сервера. Можно указывать доменное имя либо ip адрес.
# Пример:  mail.beorg.ru
# Значение по умолчанию: localhost
Server			= mail.domain.ru

# Порт почтового сервера для отправки писем. Возможные порты:
# 25 – smtp
# 465 – smtps
# 587 – mail submission
# Пример: 587
# Значение по умолчанию: 25
Port			= 25

# Булевое значение указывающее использовать ли ключи для шифрованной связи с почтовым сервером
# Пример: true
# Значение по умолчанию: false
SSL				= false

# Путь и имя файла с публичном ключом, для отправки почты по SSL протоколу (порт 465 или 587)
# Пример: %(RootFolder)s/keys/public-cert.pem
# Значение по умолчанию: отсутствует
CertPublic		= %(RootFolder)s/keys/public-cert.pem

# Путь и имя файла с приватным ключом, для отправки почты по SSL протоколу (порт 465 или 587)
# Пример: %(RootFolder)s/keys/private-key.pem
# Значение по умолчанию: отсутствует
CertPrivate		= %(RootFolder)s/keys/private-key.pem

# Логин подключения к почтовому серверу
Login           = xxx

# Пароль подключения к почтовому серверу
Password        = xxx

# Шаблоны почтовых сообщений
# Пример: %(RootFolder)s/templates/mail
# Значение по умолчанию: %(RootFolder)s/templates/mail
Templates        = %(RootFolder)s/templates/mail


# Настройки авторизации
[AUTH]
# Имя cессионной куки (токен)
TokenCookie = pSDwkf0pv4

# Время в минутах, хранения сессии пользователя при отсутствии его активности в системе.
# По окончании времени хранения сесии пользователю необходимо будет повторно пройти авторизацию
# Пример: 2280
# Значение по умолчанию: 2208
SessionTimeout	= 2208


# Настройки сервера
[SERVER0]
# Тип сервера. Возможные значения (web)
Type		= web

# Режим работы приложения, каким способом приложение слушает запросы. Возможные значения: socket, tcp
# В режиме socket приложение работает через nginx, пример конфигурации nginx будет описан отдельно
Mode			= tcp

# Адрес занимаемый приложением, можно указывать как доменное имя так и ip адрес
Host			= 127.0.0.1

# Порт занимаемый приложение в режиме работы Mode=tcp
Port			= 80

# Unix:Socket занимаемый приложением, применимо только для *nix и mac os x
# Пример: /home/domains/www.domain.ru/run/domain.sock
Socket			=

# Домены (через запятую) обслуживаемые данным сервером
# Первый домен абсолютный, остальные являются алиасами
# Пример: mydomain.ru,mydomain.com,funtik.com
# Абсолютный домен должен быть указан
Domain			= localhost

# Защита от атак
# Время ожидания web запроса в секундах, по истечении которого соединение сбрасывается
ReadTimeout		= 300

# Защита от атак
# Время ожидания окончания передачи ответа в секундах, по истечении которого соединение сбрасывается
WriteTimeout	= 300

# Защита от атак
# Максимальный размер заголовка получаемого от браузера клиента в байтах
MaxHeaderBytes	= 1048576


# Настройки mysql
[MYSQL0]
Driver   = mysql                      # Драйвер
Host     = localhost                  # Хост базы данных
Port     = 3306                       # Порт подключения по протоколу tcp/ip (3306 по умолчанию)
Type     = tcp     		              # Тип подключения к базе данных socket | tcp (tcp по умолчанию)
Socket   = /var/run/mysql/mysql.sock  # Путь к socket файлу
Name     = xxxxxx                     # Имя базы данных
Login    = xxxx                       # Логин к базе данных
Password = xxxx					      # Пароль к базе данных
Charset  = utf-8                      # Кодировка данных (utf-8 - по умолчанию)
TimeOut  = 3						  # Таймаут использования соединения (в секундах) (5 - по умолчанию)
Updates  = %(RootFolder)s/updates	  # Путь где лежат обновления БД
CntConn  = 10                         # Максимальное допустимое количество коннектов (50 - по умолчанию)
